*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
h4{
  margin-top: 30px;
  text-align: center;
}
/*Nav part*/
nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo h2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    text-transform: capitalize;
}
nav ul li{
    display: inline;
    padding: 30px;
    margin-top: 40px;
   /* border-bottom: 1px solid #383838;*/
    width: 20px;
}
nav ul li a{
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 2px;
    transition: all .5s;
    text-transform: uppercase; 
}
nav ul li a:hover{
    background-color: red;
    color: white;
    cursor: pointer;
}
/*Hero*/
.hero{
    background-image: url("./Images/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
}
.hero p{
    margin-top: 40px;
    font-size: 29px;
    color: white;
    text-align: center;
   font-family:  'Pacifico', cursive;
}
.hero h1{
    color: white;
    text-align: center;
    margin-top: 40px;
    font-size: 50px;
}
.hero .des{
color:whitesmoke;
font-size: 29px;
font-family: 'Times New Roman', Times, serif;
}

.hero button{/*
  background-color: red;
    font-size: 30px;
    color: white;
    cursor: pointer;
    animation-delay: 1.4s;
    */
    margin-top: 30px;
    background: #eb3007;
    border: 2px solid #eb3007;
    box-shadow: rgba(0,0,0,0.1) 0px 2px 1px !important;
    color: #fff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 50px;
    border-radius: 20px;
}

.hero button:hover{
    background-color:green;
}

/*about*/
/*
.about img{
    border-radius: 30px;
    height:550px;
    width:450px;
    vertical-align: middle;
 }

 .about h1{
    text-align: center;
}

.about p{
    font-family:  'Pacifico', cursive;
    text-align: center;
}

.about button{
    letter-spacing: 2px;
    font-size:12px;
    padding: 4px 16px;
    cursor: pointer;
    border: 1px solid red;
    border-radius: 20px;
}
*/

.about {
    display: flex;
    align-items: center;
    background-color: wheat;
  }
.about img {
    margin-top: 30px;
    border-radius: 30px;
    width: 460px;
}
  .text {
    flex: 1;
    text-align: left;
  }
 .text .red{
   color: red;
   font-size: 20px;
 }
  .text p{
   margin: 20px;
   font-size: 17px;
  }
  .text h1{
    margin-top: 20px;
    text-align: center;
    font-size: 17px;
  }

  .image {
    flex: 1;
    text-align: right;
  }
  .about button{
    display: inline-block;
   outline: 0;
   border: none;
   cursor: pointer;
   font-weight: 600;
   border-radius: 4px;
   font-size: 13px;
   height: 45px;
   margin-left: 100px;
   background-color:#AA0000;
   color: white;
   padding: 0 20px;  
  }
  .about button:hover{
  background-color: #772ce8;
  }

  /*Social*/
  
  .social{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/Images/socia.jpeg");
    background-position: center;
    background-size: cover;
    height: 400px;
    background-repeat: no-repeat;
  }
  .social img{
    background-color: white;
    height: 46px;
    border-radius: 10px;
    align-items:center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -40px;
  }
  .social img:hover{
    background-color: red;
  }
  .social h2{
    color: white;
    margin-top: 90px;
    font-size: 16px;
    text-align: center;
    align-items: center;
  }
  .social p{
    text-align: center;
    font-style: italic;
    color: white;
    font-size: 20px;
  }

  .social p::after{
    content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
  }
  .social p:hover:after{
    width: 100%;
    background: red;
  }
.social .block{
    display:flex;
    flex-direction: column;
}


  /*menu*/
.menu{
    margin-top: 90px;
    display:flex;
    background-color: gainsboro;
    height: 100px;
  
}
.menu h2{
  text-align: center;
}
.block-menu{
height: 70px;
width: 110px;
border: 1px solid red;
border-radius: 10px;
margin-left: auto;
margin-right: auto;
}
.block-menu p, h3{
  text-align: center;
  font-style: italic;
}

.content{
  display: inline-block;
  background-color: grey;
}
.price-menu{
  margin-top: 90px;
  border: 1px solid black;
  position: relative;
  padding: 20px;
 height: 150px;
 width: 500px;



 display: inline-block;
  border: 1px solid red;
  padding: 1rem 1rem;
  vertical-align: middle;
}



.other-des{
  margin-top: 90px;
  border: 1px solid black;
  position: relative;
  padding: 20px;
 height: 150px;
 width: 500px;

 display: inline-block;
  border: 1px solid red;
  padding: 1rem 1rem;
  vertical-align: middle;
}



/*Our chef */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: gray;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

/*Contact and Reservation*/