*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
h4{
  margin-top: 30px;
  text-align: center;
}


nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo h2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    text-transform: capitalize;
}
nav ul li{
  margin-top: 20px;
    display: inline;
    padding: 30px;
    margin-top: 40px;
   /* border-bottom: 1px solid #383838;*/
    width: 20px;
}

nav ul li a{
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 2px;
    transition: all .5s;
    text-transform: uppercase; 
}
nav ul li a:hover{
    background-color: red;
    color: white;
    cursor: pointer;
}
nav button{
  height: 40px;
  width: 100px;
  border-radius: 30px;
}
nav button p{
  text-align: center;
  font-size: 20px;
}

nav i {
  margin: 10px;
}
@media screen and (max-width: 800px) {
  nav ul li {
    padding: 15px;
    display: inline;
  }

  nav button {
    height: 30px;
    width: 80px;
    font-size: 16px;
  }

  nav button p {
    font-size: 16px;
  }
}


/*Hero*/
.hero{
    background-image: url("./Images/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
}
.hero p{
    margin-top: 40px;
    font-size: 29px;
    color: white;
    text-align: center;
   font-family:  'Pacifico', cursive;
}
.hero h1{
    color: white;
    text-align: center;
    margin-top: 40px;
    font-size: 50px;
}
.hero .des{
color:whitesmoke;
font-size: 29px;
font-family: 'Times New Roman', Times, serif;
}

.hero button{
  
    margin-top: 30px;
    background: #eb3007;
    border: 2px solid #eb3007;
    box-shadow: rgba(0,0,0,0.1) 0px 2px 1px !important;
    color: #fff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 50px;
    border-radius: 20px;
}

.hero button:hover{
    background-color:green;
}
/*About*/
.about {
    display: flex;
    align-items: center;
    background-color: wheat;
  }
.about img {
    margin-top: 30px;
    border-radius: 30px;
    width: 460px;
}
  .text {
    flex: 1;
    text-align: left;
  }
 .text .red{
   color: red;
   font-size: 20px;
 }
  .text p{
   margin: 20px;
   font-size: 17px;
  }
  .text h1{
    margin-top: 20px;
    text-align: center;
    font-size: 17px;
  }

  .image {
    flex: 1;
    text-align: right;
  }
  .about button{
    display: inline-block;
   outline: 0;
   border: none;
   cursor: pointer;
   font-weight: 600;
   border-radius: 4px;
   font-size: 13px;
   height: 45px;
   background-color:#AA0000;
   color: white;
   padding: 0 20px;  
  }
  .about button:hover{
  background-color: #772ce8;
  }
  @media screen and (max-width: 768px) {
    .about {
      flex-direction: column;
      align-items: center;
    }
  
    .about img {
      width: 300px;
      border-radius: 20px;
    }
  
    .text {
      margin-top: 20px;
      text-align: center;
    }
  
    .image {
      margin-top: 20px;
      text-align: center;
    }
  
    .about button {
      margin-top: 20px;
    }
  }
  /*Social*/
  
  .social{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./Images/socia.jpeg");
    background-position: center;
    background-size: cover;
    height: 400px;
    background-repeat: no-repeat;
  }
  .social img{
    background-color: white;
    height: 46px;
    border-radius: 10px;
    align-items:center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -40px;
  }
  .social img:hover{
    background-color: red;
  }
  .social h2{
    color: white;
    margin-top: 90px;
    font-size: 16px;
    text-align: center;
    align-items: center;
  }
  .social p{
    text-align: center;
    font-style: italic;
    color: white;
    font-size: 20px;
  }

  .social p::after{
    content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
  }
  .social p:hover:after{
    width: 100%;
    background: red;
  }
.social .block{
    display:flex;
    flex-direction: column;
}


  /*menu*/
  .menu {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  .menu h2{
    text-align: center;
  }
  .block-menu {
    height: 70px;
    width: 110px;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .block-menu p,
  .block-menu h3 {
    text-align: center;
    font-style: italic;
  }

  
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.menu-section {
  margin-top: 30px;
  margin-bottom: 30px;
}

.menu-item {
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  width: 300px;
}

.menu-item h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.menu-item p {
  font-size: 14px;
  line-height: 1.5;
}


/*Our chef */
.container-card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: gray;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
@media screen and (max-width: 880px){
	.container-card{
	display: inline;
	}
	
}

/*Contact and Reservation*/
.container{
  margin-top: 30px;
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
p.all
.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
	background: url("./Images/about.jpeg") no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.field{
  
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  resize: vertical;

}

.btn{
  

  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover{
    background-color: #27ae60;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}

/*food gallery*/
.galery-main p{
  text-align: center;
  margin: 70px;
}
.galery-main h2{
  text-align: center;
}
.galery-main{
  background-color: red;
 
}
.container{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;

}
.galery img{
  width: 30%;
    height: 100%;
    object-fit: cover;
}

/*Testimonials*/

.test{
background-image: url("./Images/bac.jpg");
height: 600px;
}
.test p,h3{
  text-align: center;
  font-size: 20px;
}
.profile img{
  border-radius: 10px;
  height: 160px;
  margin-left: auto;
  margin-right: auto;
  display:flex;
}